/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 oct. 2023, 15:03:43
    Author     : Net
*/

.navBar{
    background-color: #fff !important;
}

.elementosNav{
    display: flex;
    width: 30%;
    justify-content: space-around;
    color: #37474f;
    font-weight: 700;
}

.elementos{
    margin-right: 50px;
}

.containerImg{
    width: 20%;
}

.logo{
    width: 40%;
    margin: auto;
}

.tituloDiario{
    width: 80%;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    font-weight: 500;
}

.header{
    background-image: url(../img/NoticiasZoom.jpg);
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
}

.contenedorNoticias{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloNoticias{
    font-size: 22px;
    font-weight: 500;
    color: yellow;
}

.contenedorMain{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton{
    background-color: #ffcb00;
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

.boton:hover{
    background-color: #ffcb00;
}
.boton:active{
    box-shadow: none;
}
