.ul-estrella {
    padding-left: 2rem;
    list-style-type: none;
  }

.ul-estrella li{
    padding-left: 2rem;
    background-image: url(../Imagenes/stars.jpg);
    background-position: 0 0;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
  }

  .ul-vertical {
    list-style: none;
    margin: 0;
    padding: 8px;
    background-color: #777;
    display: inline-block;
  }
  .ul-vertical li {
    background-color: #bbb;
    width: 350px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: 1px solid #777;
  }
  .ul-vertical li+li {
    margin-top: 4px;
  }