#Parrafo{
    font-size: 10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;

}

#Titulos{
    color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
